.carousel-base {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	outline: none;
}

.item-provider {
	overflow: hidden;
	width: 100%;
	cursor: pointer;
}

.item-container img {
	user-select: none;
	-webkit-user-drag: none;
}

.item-tracker {
	height: 100%;
	display: flex;
}

.carousel-arrow {
	z-index: 1;
}
