name: Pre-Release
on:
  release:
    types: [prereleased]
jobs:
  Publish:
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install
        run: npm install
      - name: Test
        run: npm run test
      - uses: codecov/codecov-action@v2
        with:
          files: coverage/*.json
          flags: unittests
          name: react-carousel-codecov
          fail_ci_if_error: true
          verbose: true 
      - name: Build
        run: npm run build
      - name: Publish
        run: npm publish --access=public --tag beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
